@import '../../styles/mixins';
@import '../../styles/variables';

.taglines-container {
  height: 30vh;
  width: $primary-width;
  padding: 2vh;
  background-color: whitesmoke;

  h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		font-size: 1.25em;
    width: 75vw;
    margin: auto;
    padding: 15px;
	}
}

.taglines-edit-btn {
  top: -4vh;
  left: 40vw;
}

.taglines-form-wrapper {
  @include flexCenterColumn;
  justify-content: center;
  align-items: center;
  height: 80%;

  div {
    display: flex;
    flex-direction: column;
  }
}

.taglines-display {
  width: 70%;
  margin: auto;

  p {
    padding: 10px;
  }
}
