@import '../../styles/mixins';
@import '../../styles/variables';

.taglines-container {
  height: 60vh;
  width: $primary-width;
  background-color: rgb(198, 162, 232);
}

.taglines-form-wrapper {
  @include flexCenterColumn;
  justify-content: center;
  align-items: center;
}
//Maria take a look here
