@import '../../styles/mixins';
@import '../../styles/variables';

.taglines-container {
  height: 30vh;
  width: $primary-width;
  padding: 2vh;
  background-color: whitesmoke;

  h2 {
    @include sectionTitleFormat;
    width: 75vw;
    margin: auto;
    padding: 15px;
	}
}

.taglines-edit-btn {
  top: -6vh;
  left: 92vw;
}

.taglines-form-wrapper {
  @include flexCenterColumn;
  justify-content: center;
  align-items: center;
  height: 80%;

  div {
    display: flex;
    flex-direction: column;
  }
}

.taglines-section {
  width: 75%;
  margin: auto;
}

.taglines-display-info {
  padding: 0 3vh;
  margin: 0;
  width: 60%;

  p {
    padding: 10px;
  }
}
