@import '../../../styles/mixins';
@import '../../../styles/variables';

.award-press-display {
  @include gridDisplayCards;
  width: 60vw;
}

.award-press-card {
  @include flexCenterColumn;
  justify-content: space-evenly;
  height: 215px;
  color: whitesmoke;
  background-color: $theme-color;
  padding: 10%;
  text-align: center;
  &:hover {
    background-color: $theme-dark;
  }
}
