.login-container {
  height: 70vh;
  margin: auto;
  width: 100%;
  background-color: whitesmoke;
  margin-bottom: 5vh;
  position: absolute;

  h1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-align: center;
		font-size: 2.15em;
		padding: 5px 10px;
    width: 50%;
    position: absolute;
    z-index: 10;

    span {
      font-weight: 700;
      color: #ff9143;
    }
  }

  img {
    position: absolute;
    height: 70vh;
    object-fit: cover;
    left: 12vw;
  }
}

.login-form-wrapper {
  position: absolute;
  left: 64vw;
  background-color: white;
  height: 71vh;
  width: 23vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  align-self: center;
}




// REGISTER FORM
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  height: 70vh;
  width: 100%;
  background-color: whitesmoke;
  position: absolute;

  img {
    position: absolute;
    height: 70vh;
    object-fit: cover;
    left: 12vw;
  }
}

.register-wrapper {
  background-color: white;
  position: absolute;
  z-index: 10;
  height: 71vh;
  width: 23vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 64vw;

  p {
    text-align: center;
  }
}