.login-container {
  height: 70vh;
  margin: auto;
  // display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  width: 100%;
  background-color: whitesmoke;
  margin-bottom: 5vh;
  position: absolute;

  h1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-align: center;
		font-size: 2.15em;
		padding: 5px 10px;
    width: 50%;
    position: absolute;
    z-index: 10;

    span {
      font-weight: 700;
      color: #ff9143;
    }
  }

  img {
    position: absolute;
    // z-index: 5;
    height: 70vh;
    width: 114%;
    object-fit: cover;
    
    // position: absolute;
    // top: 12vh;
    // left: 21vw;
    // margin:-60px 0 0 -60px;
    // -webkit-animation:spin 5s linear infinite;
    // -moz-animation:spin 5s linear infinite;
    // animation:spin 20s linear infinite;
    // transition-timing-function: ease-in-out;
    // transition: 0.2s;
    // transform: translateY(130%);
  }
}

// @-moz-keyframes spin { 
//   100% { -moz-transform: rotate(360deg); } 
// }
// @-webkit-keyframes spin { 
//   100% { -webkit-transform: rotate(360deg); } 
// }
// @keyframes spin { 
//   100% { 
//       -webkit-transform: rotate(360deg); 
//       transform:rotate(360deg); 
//   } 
// }

.login-form-wrapper {
  position: absolute;
  left: 64vw;
  background-color: white;
  height: 71vh;
  width: 23vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  align-self: center;
}




// REGISTER FORM
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  height: 70vh;
  width: 100%;
  background-color: whitesmoke;
  // margin-bottom: 5vh;
  position: absolute;

  img {
    position: absolute;
    height: 70vh;
    width: 114%;
    object-fit: cover;
    left: 0;
  }
}

.register-wrapper {
  background-color: white;
  position: absolute;
  z-index: 10;
  height: 71vh;
  width: 23vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 64vw;

  p {
    text-align: center;
  }
}