.header-container {
  height: 65vh;
  background-color: lavender;
}

.header-img {
  height: 65vh;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  position: relative;
}

.header-info-container {
  background-color: #ffffff;
  height: 65vh;
  width: 23%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 69%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}