.press-header-container {
  top: 0;

  h1 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-size: 2em;
		padding: 5px 10px;
	}
}

.press-header-img-container {
  height: 85vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.press-header-img {
  object-fit: cover;
  height: 85vh;
  width: 100%;
}

.press-header-description {
  line-height: normal;
}

.contact-display {
  h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.25em;
	}
}

.press-page-below-header {
  width: 70vw;
  margin: 3vh auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

.press-award-display {
  grid-column-start: 1;
  grid-column-end: 4;

  h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		font-size: 1.25em;
	}
}

.trailer-display {
  grid-column-start: 1;
  grid-column-end: 5;

  h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.25em;
    padding: 3vh;
	}
}

.synopsis-press {
  grid-column-start: 1;
  grid-column-end: 3;

  h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		font-size: 1.25em;
    line-height: normal;
	}
}

.synopsis-display {
  width: 95%;
  padding: 3vh;
}


.film-poster-display {
  grid-column-start: 3;
  grid-column-end: 5;
}

.film-details-display {
  grid-column-start: 1;
  grid-column-end: 5;

  h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		// text-align: center;
		font-size: 1.25em;
	}
}

.film-details-info {
  width: 95%;
  padding: 3vh;
}

.press-poster-wrapper {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.tagline-press {
  grid-column-start: 1;
  grid-column-end: 5;

  h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		// text-align: center;
		font-size: 1.25em;
	}
}

.taglines-display {
  width: 95%;
  padding: 3vh;

  p {
    padding: 3px;
    line-height: normal;
  }
}



