@import '../../../styles/variables';
@import '../../../styles/mixins';

// HEADER SECTION
.press-header-container {
  top: 0;

  h1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.15em;
    padding: 5px 10px;
  }
}

.press-header-img-container {
  height: $primary-height;
  width: $primary-width;
  position: relative;
  z-index: 1;
}

.press-header-img {
  object-fit: cover;
  height: $primary-height;
  width: $primary-width;
}

.press-header-description {
  line-height: normal;
  font-size: $primary-font-size;
}

// CONTACT SECTION
.contact-display {
  h2 {
    @include sectionTitleFormat;
    text-align: center;
  }

  .contact-info {
    font-size: $primary-font-size;
  }
}

// PRESS AND AWARDS SECTION
.press-page-below-header {
  width: 70vw;
  margin: 3vh auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

.press-award-display {
  grid-column-start: 1;
  grid-column-end: 4;

  h2 {
    @include sectionTitleFormat;
    padding: 3vh 0;
  }
}

// TRAILER SECTION
.trailer-display {
  grid-column-start: 1;
  grid-column-end: 5;

  h2 {
    @include sectionTitleFormat;
    text-align: center;
    padding: 3vh;
  }
}

// SYNOPSIS SECTION
.synopsis-press {
  grid-column-start: 1;
  grid-column-end: 3;

  h2 {
    @include sectionTitleFormat;
  }
}

.synopsis-display {
  @include contentSizePress;
  font-size: $primary-font-size;
  line-height: normal;
  width: 95%;
}

// FILM POSTER SECTION
.film-poster-display {
  grid-column-start: 3;
  grid-column-end: 5;
}

.press-poster-wrapper {
  height: 100%;
  width: $primary-width;
  object-fit: cover;

  .poster {
    margin: 0;
  }
}

// FILM POSTER SECTION
.press-poster-wrapper {
  height: 100%;
  width: $primary-width;
  object-fit: cover;
}

.film-poster-display {
  grid-column-start: 3;
  grid-column-end: 5;
}

// TAGLINES SECTION
.tagline-press {
  grid-column-start: 1;
  grid-column-end: 5;

  h2 {
    @include sectionTitleFormat;
  }
  .taglines-section {
    margin: 0;
  }
}

.taglines-display-info {
  @include contentSizePress;
  
  p {
    padding: 3px;
    line-height: normal;
    font-size: $primary-font-size;
  }
  
  span {
    font-weight: bold;
  }
}



// FILM DETAILS SECTION
.film-details-display {
  grid-column-start: 1;
  grid-column-end: 5;

  h2 {
    @include sectionTitleFormat;
  }

  .film-details-section {
    margin: 0;
  }
}

.film-details-info {
  @include contentSizePress;
  font-size: $primary-font-size;

  span {
    font-weight: bold;
  }
}
