@import '../../../styles/mixins';
@import '../../../styles/variables';

.edit-page {
  @include flexCenterColumn;
}

.container-wrapper {
  width: $primary-width;
  height: fit-content;
  // display: flex;
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

.edit-page-below-header {
  width: 75vw;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

@media screen and (max-width: 767px) {
  .edit-page-below-header {
    width: 90%;
  }
}
