@import '../../styles/mixins';
@import '../../styles/variables';


.film-poster-container {
  height: 50vh;
  width: 35%;
  // background-color: rgb(140, 140, 140);
}

.poster {
  object-fit: cover;
  width: 80%;
}

.film-poster-edit-btn {
  top: 3vh;
  left: 27vw;
}

.film-poster-form {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: auto;
  justify-content: center;
}