@import '../../styles/mixins';
@import '../../styles/variables';


.film-poster-container {
  height: 65vh;
  width: 35%;
  background-color: rgb(174, 218, 174);
}

.poster {
  object-fit: cover;
  width: 80%;
}