@import '../../styles/mixins';
@import '../../styles/variables';

.film-poster-container {
  grid-column-start: 3;
  grid-column-end: 5;
  position: relative;

  div {
    height: 100%;
  }
}

.poster {
  object-fit: cover;
  width: 100%;
  margin-top: -6vh;
}

.film-poster-edit-btn {
  top: 1vh;
  left: 31.5vw;
}

.poster-form-wrapper {
  h2 {
    @include sectionTitleFormat;
    margin: auto;
    padding: 15px;
  }
}

.film-poster-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: auto;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .film-poster-container {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
