@import '../../../../styles/mixins';

.edit-main {
  @include flexCenterColumn;
}

.party-title {
  height: 30vh;
  width: 100%;
  background-color: whitesmoke;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-align: center;
		font-size: 2.15em;
		padding: 5px 10px;

    span {
      font-weight: 700;
      color: #ff9143;
    }
  }
}