@import './reset';
@import '../components/Header/Header.scss';
@import '../components/Contact/contact.scss';
@import '../components/Trailer/trailer.scss';
@import '../components/FilmPoster/filmPoster.scss';
@import '../components/Synopsis/synopsis.scss';
@import '../components/FilmDetails/FilmDetails.scss';
@import '../components/Taglines/Taglines.scss';
@import '../components/AwardsPress/AwardPress.scss';
@import '../components/Navigation/Navigation.scss';
@import '../components/pages/EditPage/EditPage.scss';
@import '../components/pages/PressPage/PressPage.scss';
@import '../components/Footer/Footer.scss';
@import '../components/pages/LoginPage/LoginPage.scss';
@import '../components//Filmteam/FilmTeam.scss';
@import '../components//FilmStills/FilmStills.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}


button {
	width: $btn-width;
	align-self: center;
}


// IMAGE UPLOAD BUTTONS
.image-upload-btn::file-selector-button {
  background: transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 10.5px 14px;
  border: 1px solid #bababa;
  color: #585858;
  width: 200px;
}

#imageInput,
#header-input,
#test-input {
  font-size: 1em;
}
