@import '../../styles/variables';

.navigation {
  height: auto;
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.logo {
  height: 15vh;
  padding: 0 10vh;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  padding: 0 10vh;

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  a:hover {
    cursor: pointer;
    color: $logo-color;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    width: 35vw;
  }
}

@media screen and (max-width: 550px) {
  .menu {
    width: 45vw;
    padding: 0;
  }
  .logo {
    padding: 0;
    padding-left: 5vw;
  }
}

@media screen and (max-width: 400px) {
  .menu {
    width: 55vw;
    padding: 0;
  }
  .logo {
    padding: 0;
    padding-left: 5vw;
  }
}
