@import '../../styles/variables';

.navigation {
  height: auto;
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.logo {
  height: 15vh;
  padding: 0 10vh;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  padding: 0 10vh;

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  a:hover {
    cursor: pointer;
    color: $logo-color;
    font-weight: bold;
  }
}