@import '../../styles/mixins';
@import '../../styles/variables';


.film-details-container {
  height: $primary-height;
  width: $primary-width;
  background-color: $better-orange;
}

.film-details-form-1 {
  height: 60vh;
  @include flexColumnJustify(space-evenly);
  align-items: center;

  button {
    width: $btn-width;
  }
}

.form-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}