@import '../../styles/mixins';
@import '../../styles/variables';


.film-details-container {
  height: 65vh;
  width: 100%;
  background-color: rgb(213, 156, 197);
}

.film-details-form-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;

  button {
    width: 400px;
  }
}

.form-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}