@import '../../styles/mixins';
@import '../../styles/variables';

.film-details-container {
  // height: 45vh;
  // width: $primary-width;
  // padding: 2vh;
  grid-column-start: 1;
  grid-column-end: 5;

  h2 {
    @include sectionTitleFormat;
    width: 75vw;
    margin: auto;
    padding: 15px;
  }
}

.film-details-edit-btn {
  top: -6vh;
  left: 92vw;
}

.film-details-form {
  // height: 38vh;
  @include flexColumnJustify(space-evenly);
  align-items: center;

  button {
    width: $btn-width;
  }
}

.form-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.film-details-section {
  width: 75%;
  margin: auto;
}

.film-details-info {
  // padding: 10px 0;
  padding: 0 3vh;
  width: 60%;
  margin: auto;

  p {
    padding: 3px;
  }
}
