@import '../../../../styles/mixins';

.titles {
  @include flexCenterColumn;
  margin-bottom: 20vh;
}

.titles-container {
  @include gridDisplayCards;
  width: 80vw;
}

@media screen and (max-width: 1023px) {
  .titles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .titles-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
