@import '../../styles/variables';
@import '../../styles/mixins';

.film-team-container {
  height: 45vh;
  width: 100%;
  padding: 2vh;

  h2 {
    @include sectionTitleFormat;
    width: 75vw;
    margin: auto;
    padding: 15px;
	}
}

// .film-team-form {
//   height: 38vh;
  // @include flexColumnJustify(space-evenly);
  // align-items: center;

//   button {
//     width: $btn-width;
//   }
// }

.film-team-form {
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.image-upload-btn {
  background: transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 10.5px 14px;
  border: 1px solid #bababa;
  color: #585858;
  width: 200px;
}