@import '../../styles/variables';
@import '../../styles/mixins';

.film-team-container {
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 10vh;

  h2 {
    @include sectionTitleFormat;
    margin: auto;
    padding: 3vh 15px;
	}
}

.film-crew-edit-btn {
  top: -5vh;
  left: 70vw;
}

.film-team-form {
  padding: 4vh 0;
  width: 58vw;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .add-film-crew-btn {
    width: 150px;
  }
}

.film-team-img-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.film-team-text-form {
  width: 75vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.all-crew-wrapper {
  @include gridDisplayCards;
  @include marginWidthContainers;
  justify-items: center;
}

.crew-member-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 22vw;
  width: 22vw;
  text-align: center;
  opacity: 0.95;
}

.crew-img-wrapper {
  z-index: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.crew-info-wrapper {
  z-index: 10;
  width: 96%;
  align-self: center;
  padding: 2%;
  text-align: left;
  position: absolute;
  top: 70%;
  background-color: whitesmoke;
}


.crew-name {
  font-weight: 700;
}