@import '../../styles/variables';
@import '../../styles/mixins';

.contact-container {
	height: 40%;

	h2 {
		@include sectionTitleFormat;
		text-align: center;
	}
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	h2 {
		@include sectionTitleFormat;
	}
}

.contact-display {
	// height: 40%;
	padding: 10px;
}

.contact-info {
	padding: 10px 0;

	p {
		padding: 3px;
	}
}

.contact-name {
	font-weight: 700;
}

.website-link {
	color: inherit;
	text-decoration: none;
}

.contact-edit-btn {
	position: absolute;
	z-index: 10;
	top: 1vh;
	left: 24vw;
}
