.contact-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.25em;
	}
}
