@import '../../styles/variables';
@import '../../styles/mixins';

.header-container {
  height: $header-height;
  width: 100%;
  background-color: lavender;
}

.header-img {
  height: $header-height;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  position: relative;
}

.header-info-container {
  height: $header-height;
  width: 23%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 69%;
  @include flexColumnJustify(space-evenly);
  background-color: #ffffff;
}