@import '../../styles/variables';
@import '../../styles/mixins';

.awards-press-container {
  width: 100%;

  .awards-press-edit-btn {
    top: 5vh;
    left: 92vw;
  }
}

.awards-press-title {
  padding: 15px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
	text-transform: uppercase;
	// text-align: center;
	font-size: 1.25em;
  // align-self: center;
  width: 75vw;
  margin: auto;
}

.award-press-display {
  @include gridDisplayCards;
  @include marginWidthContainers;

}

.award-press-card {
  @include flexCenterColumn;
  justify-content: space-evenly;
  height: 225px;
  width: 225px;
  color: whitesmoke;
  padding: 10%;
  text-align: center;
  opacity: 0.95;
  filter: alpha(opacity=95);
  &:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1.03);
  }
}

.award-card-styling-div {
  margin-bottom: 12vh;
}

.laurel {
  width: 275px;
  z-index: 1;
  margin: 1vh;
  margin-bottom: -27vh;
}

.award-text {
  z-index: 2;
  margin-top: 10vh;
  font-size: 1.1rem;
}

.press-awards-form {
  display: flex;
  width: 70vw;
}
