.trailer-container {
  height: 55vh;
  width: 100%;
  padding: 2vh 0;
  background-color: whitesmoke;

  h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		font-size: 1.25em;
    width: 75vw;
    margin: auto;
	}

  div {
    margin: 5vh;
  }
}

.trailer-form {
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailer-edit-btn {
  top: -3vh;
  left: 92vw;
}

.iframe-container-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
  margin-bottom: -15%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
}
