@import '../../styles/variables';
@import '../../styles/mixins';

.synopsis-container {
  height: 65vh;
  width: 65%;
  padding: 2vh;
  // background-color: whitesmoke;
  border-right: 1px solid black;
  // border-bottom: 1px solid black;

  h2 {
		font-family: 'Zen Kaku Gothic Antique', sans-serif;
		text-transform: uppercase;
		font-size: 1.25em;
    width: 42vw;
    margin: auto;
    padding-top: 2vh;
	}
}

.synopsis-form {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.synopsis-display {
  width: 70%;
  margin: auto;
}

.synopsis-edit-btn {
  top: -3vh;
  left: 50vw;
}
