@import '../../styles/variables';
@import '../../styles/mixins';

.synopsis-container {
  height: 65vh;
  width: 65%;
  background-color: rgb(164, 199, 208);
}

// Maria you prob want to change this back to what you had
